/* .layoutContainer{
    padding: 
} */
.img {
    display: block; /* Ensures the image takes up a full line */
    margin: 0 auto; /* Centers horizontally */
    border-style: none;
    width: 100%;
    height: auto;
    max-width: 400px;
}

  .title {
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
  }
  
  .content {
    text-align: right;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    color: #4a4a4a;
    /* margin: 0px 10%; */
    /* padding-right: 20px; Adjust the value as needed */

  }
  .inlineImage{
    max-width: 400px;
    max-height: 400px;
    margin: 10px 0;
  }

  .topRightLink {
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 10;
  }

  .updateReport {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .updateReport:hover {
    background-color: #0056b3;
  }